<!DOCTYPE html>
<head>
	<title>Coming Soon</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src='home.js'></script>
</head>

<body>
	<h1>Coming Soon</h1>
	<h3>Sign up to get notified</h3>
	<form id="signupForm">
    	<input type='text' class='rounded-box' placeholder='email address' ng-model='todoText'>
    	<button class='grey rounded-box' ng-click='addTodo()' ng-disabled='working'>Register</button>
  	</form>
	<div class="result"></div>
</body>